/* Generic components*/
@import url('components/navbar.css');
@import url('components/banner.css');
@import url('components/images.css');
/*@import url('components/loader.css');*/

/* Section-specific components*/
@import url('components/services.css');
@import url('components/technologies.css');
@import url('components/portfolio.css');
@import url('components/background.css');
@import url('components/contact.css');

@font-face {
  font-family: 'Avenir';
  src: url('components/avenir.otf');
  font-weight: normal;
  font-style: normal
}


html {
  scroll-padding-top: 50px
}

body{
  /*width: 95vw;*/
  margin: 0 auto;
  font-family: "Cormorant";
  color: rgb(68, 68, 67);
  background-color: #FFFFFF;
  text-rendering: optimizeLegibility;
  font-weight: normal;
  font-style: normal;
  list-style: none;
}

.container {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 5px;
  padding: 35px 25px;
  max-width: 900px;
}

/*Banner title */
h1 {
  font-size: 1rem;
  letter-spacing: 0.05rem;
  margin-bottom: 0px;
}

/*Banner sub-title */
h2{
  font-size: 0.8rem;
}

/* Block titles and navbar titles */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Avenir', sans-serif;;
  text-transform: uppercase;
}

/* Block titles*/
h3 {
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 12px;
}

/* Navbar titles */
h4 {
  font-size: 0.70rem;
  letter-spacing: 0.15rem;
  -webkit-font-smoothing: antialiased;
}

h5{
  font-size: 0.9rem;
  margin: 0;
}

h6 {
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
  -webkit-font-smoothing: antialiased
}

hr{
  margin: 7px 0 19px 0;
  padding: 0;
}

/* Smartphones and Tablets */
@media(max-width: 769px) {
  .hidden-sm {
    display: none;
  }
}

/* Large screens */
@media (min-width: 770px)  {
  .hidden-lg { 
    display: none; 
  }  
}

.bg-gray-light {
  background-color: #F5F5F5;
}

.bg-green {
  background-color: #E7EEEE;
}

.bg-brown {
  background-color: #ece9e7;
}

.bg-light-brown {
  background-color: #f3f0ed;
}

.bg-gray {
  background-color: #D9D9D9;
}

.bg-white{
  background-color: white
}

.bg-blue {
  background-color: #616A77;
  color: white;
}


a {
  color: rgb(68, 68, 67) !important;
  text-decoration: none !important;
}

p {
  margin: 5px auto;
}

#footer, #footer a  {
  font-size: 0.7rem;
  margin: 0 auto;
  /*  color: #7C90AF !important;*/
  color: white !important;
} 

#footer>a:hover {
  border-bottom: 1px solid #7C90AF;
  padding-bottom: 2px;
}

#footer hr {
    background-color: #e4e4e4;
}

.underline {
  text-decoration: underline;
  padding-bottom: 3px;
  opacity: 0.7;
}

.dot {
  color: #c6946d;
  font-size: 2rem;
  font-weight: 700;
  padding-right: 6px;
}