@import url('components/banner.css');
@import url('components/btn.css');
@import url('components/cards.css');
@import url('components/tab.css');
@import url('components/images.css');
@import url('components/logos.css');
@import url('components/navbar.css');
@import url('components/contact.css');

body{
  width: 95vw;
  margin: 0 auto 25px auto;
  font-family: 'Cormorant Garamond', serif;
  color: #212529;
  background-color: white;

}

.container {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 45px;
  padding: 35px 16px;
  max-width: 900px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  
}
}

h1 {
  font-size: 2.5rem !important;
}

.container h2 {
  margin-top:-50px;
  padding-top: 35px;
  margin-bottom: 16px;
  font-size: 1.7rem !important

}

.bg-yellow {
  background-color: #FFF9B1;
  border-radius: 16px;
  margin-bottom: 8px
}

h2 {
  text-align: center;
}

h3{
  font-size: 17px;
}

h4, h4 a, h4 a:hover {
  font-size: 1.2rem;
  color: #003471;
  font-weight: bold;
  padding-bottom: 2px;
}

p, .small {
  font-size: 1.2rem;
  font-height: 0.6rem;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-left: 0;
  margin-right: 0
}

a {
  color: #212529;
}

#contact-infos p {
  padding: 0;
}

#contact-infos a {
  color: #3c4859;
}

#contact-infos a:hover{
  color: #3c4859;
  text-decoration: underline;
}

#photo-credits {
  font-size: 1rem;
  color: #7C90AF !important;
} 

#photo-credits a {
  color: #7C90AF !important;
} 

#photo-credits a:hover {
  color: black;
  text-decoration: underline;
  padding-bottom: 2px
}

.project-title {
  margin: 10px;
}

.details, .details a {
  text-decoration: none !important;
  text-decoration: italic;
  color: gray;
  font-size: 0.8rem;
}

.project-technos {
  margin: 10px;
  margin-right: 10px;
}

.details a:hover {
  border-bottom: 1px solid gray;
}

.underline {
  text-decoration: underline;
  padding-bottom: 3px;
  opacity: 0.7;
}
