<div class="Navbar fixed-top">
  <div class="Navbar__Link Navbar__Link-brand">
      <strong>Accueil</strong>
  </div>
  <div class="Navbar__Link Navbar__Link-toggle">
    <i class="fas fa-bars"></i>
  </div>
  <nav class="Navbar__Items Navbar__Items--right">
    <a class="Navbar__Link" href="#parcours">Parcours</a>
    <a class="Navbar__Link" href="#services">Services</a>
    <a class="Navbar__Link" href="#technologies">Technologies</a>
    <a class="Navbar__Link" href="#portfolio">Portfolio</a>
    <a class="Navbar__Link" href="#contact">Contact</a>
  </nav>
</div>


