<div class="navbar navbar-expand-sm navbar-light navbar-lewagon d-flex">
  
  <%# Left side  %>
  <div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item active">
          <a href="#accueil" class="nav-link">Accueil</a>
        </li>
        
        <li class="nav-item">
          <a href="#parcours" class="nav-link">Parcours</a>
        </li>

        <li>
          <a href="#services" class="nav-link">Services</a>
        </li>
        
        <li class="nav-item">
          <a href="#technologies" class="nav-link">Technologies</a>
        </li>

        <li class="nav-item">
          <a href="#portfolio" class="nav-link">Portfolio</a>
        </li>

        <li class="nav-item">
          <a href="#contact" class="nav-link">Contact</a>
        </li> 

      </ul>

    </div>
  </div>

  <%# Right side %>
  <div>
    <img src="/assets/Flag_FR" alt="FR" class="flag">
    <img src="/assets/Flag_ENG" alt="ENG" class="flag">
  </div>


</div>