#banner {
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

#banner-container {
  background-color: white;
  opacity: 0.9;  
  padding: 10px
}

/* Mobile screens */
  #banner {
    height: 70vh;
    padding: 150px 0;
  }

  #banner-container{
    max-width: 380px;
    margin: 15px auto;
  }

/* Desktops */
@media(min-width: 770px) {
  #banner {
    height: 400px;
    padding: 150px 0;
  }
}

.bordered{
  border: 1px solid gray;
  padding: 10px;

}

#avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#intro p {
  margin: 0 auto;
}


