/* CONTACT SECTION */

#contact-img {
  height: 290px;
}

#contact-img-container {
  margin-top: 20px;
  color: rgb(68, 68, 67);
}

#contact-infos {
  color: white;
}

.contact-row {
  display: flex;
  align-items: center;
  justify-content: center;

}

#contact-links {
  margin: 0 auto;
  width: 50%;
}

.contact-link{
  width: 30px;
  height: 30px;
  margin: 0 30px
}

#contact-infos a {
  color: white !important;
}

#contact-infos a:hover{
  color: #3c4859;
  text-decoration: underline;
}
