.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 42px;
  width: 100vw;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 2;
  background-color: white;
}

.navbar-nav {
	padding-left: 8px
}

a.nav-link {
	padding-bottom: 0px
}