#navbar {
  height: 65px;
  padding: 12px 6vw;
  margin: 0 auto;
  position: sticky;
  top: 0;
  right: 0;
  background-color: white;
  z-index: 2000
}

.navbar-link, #btn-flat {
  font-family: 'Spectral', serif;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-weight: 300;
  font-size: 0.8em;
}

.navbar-link {
  padding: 8px
}

#btn-flat {
  padding: 8px 16px;
}

#bars {
  font-size: 1rem;
  margin-left: 10px
}

#logo {
  font-family: 'Cormorant', serif;
  font-weight: 500;
  font-size: 1.6em;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.01em;
}

.navbar-link:hover, .language:hover{
  border-bottom: 2px solid gray;
}

#btn-flat{
  background-color: #709999;
  transition: opacity 0.3s ease-out;
  color: white !important;
  text-decoration: none !important;
  height: 40px;
}

#btn-flat:hover {
  background-color: #4C6B6B;
  cursor: pointer;
}

#vertical-navbar {
  display: none;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: white;
  z-index: 1000;
  padding: 50px;
  position:fixed;
  top:42px;
  left:0px;
}

.vertical-navbar-link {
  padding: 20px 0px;
  border-bottom: 1px solid #ccb8b8;
}

#navbar-vertical h4:hover {
  font-weight: 700;
  font-size: 0.8rem;
}

.language {
  padding: 0px 6px;
}

#language1 {
  border-right: 2px solid gray;
}

#closing-btn {
  display: none;
}