/* SERVICES SECTION */

.logo-services {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

#code {
  height: 190px;
}

#services ul {
  list-style: none;
}

ul li::before {
  content: "\2022";
  display: inline-block;
  margin-left: -1rem;
  margin-right: 1rem ;
}