<div class="body data-aos-easing="ease" data-aos-duraton="400" data-aos-delay="0">

  <div class="main-container">

  <div data-aos="zoom-in">

      <div id="accueil" class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(<%= image_path 'banner-wordpress.jpg'%>);">
        <div class="banner-container">
          <h1>Noémie Piérart</h1>
          <h2>Développment web fullstack</h2>
          <img src="/assets/NP_avatar.jpg" alt="Photo Noemie" class="avatar"/>
        </div>
      </div>
  </div>


      <div id="parcours">
        <div class="container">
          <div class="title text-center aos-init aos-animate" data-aos="zoom-in">
            <h2 >Parcours</h2>
          </div>
            <div class="row">
              <div class="col-2 ">
                <img src="/assets/studies_icon.png" class="icon" >
              </div>
              <p class="col-10">Après trois ans de classes préparatoires littéraires, je suis diplômée de <a href="https://www.escpeurope.eu/fr">l'ESCP Europe Business School</a> à Paris, avec un semestre d'études en Inde.</p>
            </div>
            <br>
            <div class="row">
             <div class="col-2 ">
                <img src="/assets/experience_icon.png" class="icon" >
              </div>
              <div class="col-10 ">
                <p>J'ai ensuite travaillé pendant 10 ans en gestion de projets, principalement dans le numérique : </p>
                <ul>
                  <li><p>à l'<a href="https://www.oecd.org/fr/apropos/">OCDE</a> (Organisation de Coopération et de Développement Economiques) à Paris, dont 2 ans en mission de conseil sur le digital pour le gouvernement du Kazakhstan.</li></p>
                  <li><p>à <a href="https://www.bordeaux-metropole.fr/">Bordeaux Métropole</a> - 3 ans comme Directrice de projets sur la transformation numérique. </p></li>
                </ul>
              </div>
            </div>
            <div class="row">
             <div class="col-2 ">
                <img src="/assets/wagon_icon.png" class="icon" >
              </div>
              <p class="col-10">En 2019, j'ai appris à coder grâce au bootcamp fullstack du <a href="https://www.lewagon.com/fr">Wagon</a> pour devenir développeur web. Cette formation intensive de 9 semaines m'a permis d'obtenir la certification au métier de "Concepteur et développeur d'applications web" (niveau Bac+3/4) délivrée par la Commission Nationale des Certifications Professionnelles (détails <a href="https://www.lemondeinformatique.fr/actualites/lire-l-ecole-de-code-le-wagon-decroche-un-titre-rncp-de-niveau-2-74172.html">ici</a>.)</p>
            </div>
          </div>
      </div>

      <div id="services">
        <div class="container">
        <h2 >Services</h2>
          <p>Réalisation de A à Z d'applications web/mobile :</p>
          <br>
          <div class="row">
            <div class="col-2 ">
              <img src="/assets/conception_icon.png" class="icon align-items-center" >
            </div>
            <p class="col-10"><strong>Conception : </strong>Analyse des besoins et aide à la structuration du projet : authentification,  géolocalisation, moteur de recherche, mailings automatisés, paiement, etc.</p>
          </div>
          <br>
          <div class="row">
            <div class="col-2 ">
              <img src="/assets/design_icon.png" class="icon" >
            </div>
            <p class="col-10"><strong>Design : </strong>Création de maquettes du parcours- utilisateur, avec un design responsive qui s'adapte à tous les écrans (y compris mobiles).</p>
          </div>
          <br>
          <div class="row">
            <div class="col-2 ">
              <img src="/assets/development_icon.png" class="icon" >
            </div>
            <p class="col-10"><strong>Développement : </strong>Production technique du site jusqu'à sa mise en ligne (code, architecture, bases de données, etc.) .</p>
          </div>
        </div>
      </div>

      <div id="technologies" class="container">
        <h2>Technologies</h2>
        <div class="row" id="bg-yellow">
          <p class="text-center front-back"><strong>Front-end </strong>(web design)</p>
          <div class="row">

            <div class="card-techno col-4">
              <img src="/assets/HTML.png" alt="HTML logo" class="techno-logos">
              <div class="techno-names">HTML</div>
            </div>

            <div class="card-techno col-4">
              <img src="/assets/CSS.png" alt="CSS logo" class="techno-logos">
              <div class="techno-names">CSS</div>
            </div>

            <div class="card-techno col-4">
              <img src="/assets/javascript.png" alt="JS logo" class="techno-logos">
              <div class="techno-names">Javascript</div>
            </div>

            <div class="card-techno col-4">
              <img src="/assets/responsive.png" alt="Responsive logo" class="techno-logos">
              <div class="techno-names">Responsive</div>
            </div>

            <div class="card-techno col-4">
              <img src="/assets/bootstrap.png" alt="Responsive logo" class="techno-logos">
              <div class="techno-names">Bootstrap</div>
            </div>

            <div class="card-techno col-4">
              <img src="/assets/figma.jpg" alt="Responsive logo" class="techno-logos">
              <div class="techno-names">Figma</div>
            </div>
          </div>
          <hr>
          <p class="text-center front-back"><strong>Back-end</strong> (programmation)</p>
          <div class="row">

              <div class="card-techno col-4">
                <img src="/assets/ruby.png" alt="ruby logo" class="techno-logos">
                <div class="techno-names">Ruby</div>
              </div>

              <div class="card-techno col-4">
                <img src="/assets/rails.png" alt="rails logo" class="techno-logos">
                <div class="techno-names">Rails</div>
              </div>

              <div class="card-techno col-4">
                <img src="/assets/postgreSQL.png" alt="postgreSQL logo" class="techno-logos">
                <div class="techno-names">PostgreSQL</div>
              </div>

              <div class="card-techno col-4">
                <img src="/assets/stripe.jpg" alt="stripe logo" class="techno-logos">
                <div class="techno-names">Stripe</div>
              </div>

              <div class="card-techno col-4">
                <img src="/assets/git.png" alt="Git logo" class="techno-logos">
                <div class="techno-names">Git</div>
              </div>

              <div class="card-techno col-4">
                <img src="/assets/github.png" alt="github logo" class="techno-logos">
                <div class="techno-names">Github</div>
              </div>

              <div class="card-techno col-4">
                <img src="/assets/heroku.png" alt="Heroku logo" class="techno-logos">
                <div class="techno-names">Heroku</div>
              </div>

              <div class="card-techno col-4">
                <img src="/assets/terminal.png" alt="Terminal logo" class="techno-logos">
                <div class="techno-names">Terminal</div>
              </div>

              <div class="card-techno col-4">
                <img src="/assets/mvc.png" alt="MVC logo" class="techno-logos">
                <div class="techno-names">MVC pattern</div>
              </div>
          </div>
        </div>

        <div class="row">
          <img src="/assets/front_end_4.jpg" alt="front-end" class="card-category img-big col-6" id="front-end"> 
          <img src="/assets/back_end.jpg" alt="back-end" class="card-category img-big col-6" id="back-end"/>
        </div>
      </div>
      
      <div id="portfolio" class="container">
        <h2>Portfolio</h2>
        <p class="text-center"><strong>FlashWine</strong> - une appli web pour apprendre le vin : <br>gestion d'une cave virtuelle, cours et quiz sur le vin, partage avec une communauté d'amis.</p>
        <div class="row">
          <img src="/assets/FlashWine1.png" class="col-3">
          <img src="/assets/FlashWine2.png" class="col-3">
          <img src="/assets/FlashWine3.png" class="col-3">
          <img src="/assets/FlashWine4.png" class="col-3">
        </div>
      </div>

      <div id="contact" class="container">
        <h2>Contact</h2>
        <div class="row">
          <div id="contact-container" class="col-12 col-sm-6" style="background-image: url(<%= image_path 'photo_contact_2.jpg' %>);">
            <div id="contact-infos">
              <p><i class="far fa-envelope"></i><a class="ml-1" href="mailto:contact@noemie-pierart.com"> contact@noemie-pierart.com</a></p>
              <p><i class="fas fa-phone"></i> 06.13.85.76.07</p>
              <p><i class="fas fa-map-marker-alt mr-1"></i>8 place Saint-Projet, 33 000 Bordeaux</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 form">
            <form action="https://formspree.io/mledvdrk" method="POST">
              <input class="form-element" type="text" name="_nom" placeholder="Nom" required>
              <input class="form-element" type="text" name="_replyto" placeholder="Email" required>
              <input type="hidden" name="_language" value="fr" />
              <input type="hidden" name="_subject" value="New email from my website!" />
              <textarea class="form-element-message" name="message" placeholder="Message" required></textarea>
              <button class="btn btn-message" type="submit">Envoyer</button>
            </form>
          </div>
        </div>
      </div>

  </div>

</div>
