.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner-container {
  background-color: white;
  width: 300px;
  opacity: 0.7;
  text-align: center;
  margin: 0 auto;
  border-radius: 8px;
  padding: 8px 16px;
  margin-top: 150px;
}

.banner h1 {
  margin: 0;
  color: $bleugris;
}

#contact-container {
  background-size: cover;
  background-position: center;
  position: relative;
  height: 290px;
}

#contact-infos {
  position: absolute;
  left: 15%;
  right: 0;
  background-color: $grischic;
  opacity: 0.9;
  width: 300px;
  font-weight: bold;
  border-radius: 8px;
  padding: 0 15px;
}

#contact-infos p {
  margin-bottom: 0px;
}
