.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 50px;
  z-index: 1000
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 2;
  background-color: white;

}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
