// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

@import "bootstrap/scss/bootstrap";
@import "components/btn";
@import "components/banner";
@import "components/tab";
@import "components/avatar";
@import "components/logos";
@import "components/navbar";
@import "components/form";

body{
 margin: 0 8px 25px 8px;
 font-family: 'Cormorant Garamond', serif;
 color: $bleugris;
 background-color: #F8F8F8;
}

.main-container{
  padding-top: 60px;
}

.bg-yellow {
  background-color: #FFF9B1;
  border-radius: 8px;
}

.img-big{
  border-radius: 8px;
  width: 100%
}

p{
  font-size: 18px;
  font-height: 0.6rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
