// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

@import "bootstrap/scss/bootstrap";
@import "components/btn";
@import "components/banner";
@import "components/tab";
@import "components/images";
@import "components/logos";
@import "components/navbar";
@import "components/contact";

body{
  width: 95vw;
  margin: 0 auto 25px auto;
  font-family: 'Cormorant Garamond', serif;
  color: $bleugris;
  background-color: white;

}

.container {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 45px;
  padding-bottom: 16px;
  max-width: 900px
}

.container h2 {
  margin-top:-50px;
  padding-top: 35px;
  margin-bottom: 16px;

}


.bg-yellow {
  background-color: #FFF9B1;
  border-radius: 16px;
  margin-bottom: 8px
}

h2 {
	text-align: center;
}

p{
  font-size: 20px;
  font-height: 0.6rem;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-left: 0;
  margin-right: 0
}

#contact-infos p {
  padding: 0
}

#photo-credits {
  font-size: 14px;
  color: #7C90AF;
  text-decoration: none
} 

.small{
  font-size: 16px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
